<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Online Bootcamp at Launch School</h1>
            <span><time>2015</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>MA and Ph.D. (cand.) in Philosophy</h1>
            <span>Boston College</span>
            <span><address>Chestnut Hill, MA</address><time>2010 to 2015</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>BA in Philosophy</h1>
            <span>Francsican University of Stuebenville</span>
            <span><address>Steubenville, OH</address><time>2006 to 2010</time></span>
        </header>
    </article>
</section>
