<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Teaching Fellow</h1>
            <span><address>Boston College, Chestnut Hill, MA</address><time>2012 to Present</time></span>
        </header>
        <p>Have designed and taught three original entry level philosophy courses.
        Won the Donald White Teaching Excellence Award in 2013</p>
    </article>
    <article>
        <header>
            <h1>ACT/SAT Coach</h1>
            <span><address>Testive, Boston, MA</address><time>2015 to present</time></span>
        </header>
        <p>Guide high school students through their preparations using web-based
        study and progress-tracking software</p>
    </article>
    <article>
        <header>
            <h1>SAT Curriculum Developer/Instructor</h1>
            <span><address>Gather Education, Wellesley, MA</address><time>2013 to 2014</time></span>
        </header>
        <p>Composed SAT preparation curriculum. Delivered that curriculum via web-based virtual reality software, utilizing Microsoft Kinect's depth sensor technology</p>
    </article>
    <article>
        <header>
            <h1>Freelance Tutor</h1>
            <span><address>Boston, MA</address><time>2014-2015</time></span>
        </header>
        <p>Used online marketplace wyzant.com. Tutor for major standardizes tests and academic subjects:
        GRE quantitative and verbal, SAT quantitative, verbal and writing,
        SSAT.</p>
    </article>
</section>
