<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Conference Presenter</h1>
            <span><time>2010-2014</time></span>
        </header>
        <p>Written and delivered presentations, speaking in front of groups of between ten and fifty people and fielding questions.</p>
    </article>
    <article>
        <header>
            <h1>Chairperson of Philosophy Graduate Student Association</h1>
            <span><address>Boston College</address><time>2013</time></span>
        </header>
        <p>Composed constitution, administered the election to ratify it, and
        served as its first chairperson</p>
    </article>
</section>
