<section class="thirteen columns">
    <h1>Web Developer</h1>
    <article>
      <header>
        <h1>Recent Projects</h1>
      </header>
      <p><em><a href="http://github.com/acorncache/acorn-cache">AcornCache</a>,</em>
      an HTTP proxy-caching gem for Rack apps</p>
      <p><em><a href="http://github.com/vincedevendra/lms">GradeBook</a>,</em>
      a Rails app for managing students' assignments and grades</p>
    </article>
    <article>
      <header>
        <h1>Presentation on AcornCache</h1>
        <span><address>Boston Ruby Group</address><time>March
            2016</time></span></br></br>
        <p>
          <iframe width="560" height="315"
        src="https://www.youtube.com/embed/6WBqmYKipJk" frameborder="0"
        allowfullscreen></iframe>
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/wgq1SXz95dKXYN"
      width="560" height="315" frameborder="0" marginwidth="0" marginheight="0"
      scrolling="no" style="border:1px solid #CCC; border-width:1px;
      margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> 
        </p>
      </header>
    </article>
    <article>
        <header>
          <h1>Languages & Technologies I <i class="fa fa-heart"></i></h1>
        </header>
        <em>Ruby</em> (including Rails, Minitest, RSpec, Capybara, haml, erb)
        </p>
        <p>
        <em>Javascript</em> (including jQuery)
        <p>
        <p><em>Git</em></p>
        <p><em>Redis</em></p>
        <p><em>Travis CI</em></p>
        <p><em>Vim</em></p>
        <p><em>Tmux</em></p>
    </article>
</section>
