<section class="thirteen columns">
    <h1>Web Developer</h1>
        <p>
          I'm a developer who loves making awesome tools and web applications,
        using Ruby, Rails, Java, Postgresql, and related tech.  I'm into well-tested code,
        practicing TDD/BDD and using RSpec, Capybara, and MiniTest to get the job done.  I'm
        competent with JavaScript and jQuery, but really thrive on back end
        work.
        </p>
        </br>
        <p>

        I'm happy to work at a place where I can both contribute and grow. I want that place
        to have a team where every member makes every other member better, and I want it to care deeply about its mission and the quality of its
        product.
        </p>
        </br>
    <article>
      <header>
        <h1>Recent Open-Source Projects</h1>
      </header>
      <p><em><a href="http://github.com/acorncache/acorn-cache">AcornCache</a>,</em>
      an HTTP proxy-caching gem for Rack apps</p>
      <p><em><a href="http://github.com/vincedevendra/lms">GradeBook</a>,</em>
      a Rails app for managing students' assignments and grades</p>
    </article>
    <article>
      <header>
        <h1>Presentation on AcornCache</h1>
        <span><address>Boston Ruby Group</address><time>March
            2016</time></span></br></br>
        <p>
        <iframe width="560" height="315"
        src="https://www.youtube.com/embed/-AnY9WpPd2w" frameborder="0"
        allowfullscreen></iframe>
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/wgq1SXz95dKXYN"
      width="560" height="315" frameborder="0" marginwidth="0" marginheight="0"
      scrolling="no" style="border:1px solid #CCC; border-width:1px;
      margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
        </p>
      </header>
    </article>
</section>
